@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
    src: url('../fonts/Poetsen_One/PoetsenOne-Regular.ttf');
    src: url('../fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf');
}


body {
    font-family: 'Ysabeau SC', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #008080;
    padding: 5px;
    border-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: space-between;
    /* Space between items */
}

.logo {
    display: flex;
    align-items: center;
    /* Center logo vertically */
}

.logo img {
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    /* Space between logo and dropdown */
}

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    ;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}

form {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Push form to the right */
}

form input[type="search"] {
    margin-right: 10px;
    border-radius: 5px;
}

.search {
    width: 50px;
    height: 50px;

}

.search img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-align: left;
    display: inline;
    color: #E57F3D;
}

h2 {
    font-family: PoetsenOne;
    font-size: 50px;
    color: #008080;
    text-align: left;
    display: block;
}

th {
    color: #008080;
    font-family: Ysabeau SC;
    background-color: antiquewhite;
}

.add {
    font-family: PoetsenOne, sans-serif;
    font-size: 20px;
    text-align: center;
    display: block;
    color: #008080;
}

.g1 {
    font-family: PoetsenOne, sans-serif;
    font-size: 20px;
    color: #008080;
    text-align: center;
    display: block;
}



.pets {
    font-family: PoetsenOne, sans-serif;
    font-size: 20px;
    color: #008080;
    text-align: center;
    display: block;
}

.pet-table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
    float: right;

    /* Thin black border around the table */
}

.main-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-image {
    float: right;
    border-radius: 50%;
}

.home-page {
    background-color: #fcf9ec;
    padding: 125px;
    /* Adds some padding around the content */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-item p {
    font-size: 18px;
    color: #36454F;
    margin-top: 10px;
}

#add-pet-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    /* Adjust this width as needed */
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

#add-pet-form label {
    font-size: 18px;
    color: #36454F;
}

#add-pet-form input,
#add-pet-form select,
#add-pet-form textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#add-pet-form input[type="file"] {
    padding: 5px;
}

.image-info {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.form-buttons {
    display: block;
    text-align: center;
    gap: 20px;
}

.btn-submit,
.btn-clear {
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover,
.btn-clear:hover {
    background-color: #005959;
}



footer {
    background-color: #E57F3D;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    margin: 0;
    clear: both;
    border-radius: 10px;
    /* Remove margin to eliminate extra space */
}

p {
    font-family: 'Ysabeau SC', sans-serif;
    color: #36454F;
    text-align: center;
}