/* Style the heading red 36pt bold italic arial,
and the paragraph blue bold Verdana,
20pt with a 30pt line-height (spacing between lines). */
h1 {
    color: red;
    font-size: 36pt;
    font-weight: bold;
    font-style: italic;
    font-family: arial;
}

p {
    color: blue;
    font-weight: bold;
    font-family: Verdana;
    font-size: 20pt;
    line-height: 40pt;
}